sec-edgar-filings
sec-edgar-yearly
edgar-crawler-main/__pycache__
datasets
datasets/EXTRACTED_FILINGS
datasets/INDICES
datasets/RAW_FILINGS
datasets/FILINGS_METADATA
datasets/10k_volatility
datasets/labelled
edgar_logs
processed
wandb
__pycache__

hans_glove/glove_embeddings.npy
hans_glove/glove.6B.300d.txt
hans_glove/word2idx.json