sec-edgar-filings
sec-edgar-yearly
edgar-crawler-main/__pycache__
edgar-crawler-main/datasets/EXTRACTED_FILINGS
edgar-crawler-main/datasets/INDICES
edgar-crawler-main/datasets/RAW_FILINGS
edgar-crawler-main/logs