sec-edgar-filings
sec-edgar-yearly
edgar-crawler-main/__pycache__
datasets/EXTRACTED_FILINGS
datasets/INDICES
datasets/RAW_FILINGS
datasets/FILINGS_METADATA
datasets/10k_volatility
datasets/labelled
edgar_logs
processed
__pycache__
